@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700&display=swap');

html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background: #262522; 
}

::-webkit-scrollbar-thumb {
    background: #575757; 
    border-radius: 20px;
    transition: .5s;
    /* height: 2px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #D6AD60; 
}

header {
    top: 0;
}

body {
    background-color:#262522;
    width: 100%;
    height: 100%;
    overflow: auto;
}

nav {
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 50px;
    margin-right: 8rem;
    padding-right: 50px;
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    transition: background-color 0.3s ease-in-out;
}

nav img {
    width: 100px;
    height: 150px;
}

nav ul {
    margin-right: 7rem;
} 

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    /* margin-right: 20px; */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

nav ul li a:hover {
    color: #D6AD60;
    transition: .3s;
}

.active {
    color: #D6AD60;
}

nav.scrolled {
    background-color: rgba(39, 38, 35, 0.8);
    backdrop-filter: blur(12px);
}

nav #menu-hamburger {
    display: none;
    width: 27px;
    top: 0;
    right: 14%;
    position: absolute;
}

.middle_text {
    margin-top: 10rem;
    display: grid;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.head {
    color: white;
    font-weight: 600;
    font-size: 45px;
}

.subhead1 {
    color: rgba(255, 255, 255, 0.594);
    font-weight: 400;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    line-height: 1.2rem;
}

.divider {
    position: absolute;
    align-self: center;
    left: 48%;
    right: 50%;
    height: 20px;
    width: 45px;
    border-top: 2px solid #F4EBD0;
    margin-top: 2.5rem;
}

.form {
    display: grid;
    justify-content: center;
    margin-top: 8rem;
}

.form-box{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.part {
    display: grid;
    row-gap: 1rem;
    margin-right: 1.5rem;
}

input {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: transparent;
    width: 400px;
    outline: none;
    border: none;
    border-bottom: solid 2px #d8d8d849;
    padding: 10px 0px;
}

input::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

input:focus {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}


.error-messages span{
    color: red;
    font-family: 'Poppins', sans-serif;
}

.error-messages-method {
    margin-top: 10px;
    justify-content: center;
}

.error-messages-method span{
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.form-box .massage-box {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
    width: 400px;
    outline: none;
    border: none;
    border-bottom: solid 2px #d8d8d849;
    padding: 10px 0px;
    max-width: 400px;
    min-width: 400px;
    max-height: 177px;
    min-height: 177px;
}

.massage-box::placeholder {
    color: white;
}

.form-box2 {
    margin-top: 1.5rem;
    display: grid;
    justify-content: center;
}

.contact-method {
    display: grid;
    justify-content: center;
    align-content: center;
}

.contact-method p {
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.method {
    margin-left: 3rem;
    width: 160px;
    height: 45px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 50px;
    background: #3B3934;
}

.radio-box {
    display: none;
}

label {
    width: 90px;
    /* align-self: center; */
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 10px;
    right: 1%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    background: #3B3934;
    border-radius: 50px;
    transition: background .1s;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #D6AD60;
}

.submitButton {
    margin-top: 3rem;
    padding-left: 3.3rem;
    margin-bottom: 4rem;
}

.form-box2 button {
    height: 44px;
    width: 150px;
    border-radius: 35px;
    background-color: transparent;
    color: #F4EBD0;
    border-color: #F4EBD0;
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.form-box2 button:hover {
    /* border-style: none; */
    background-color: #F4EBD0;
    color: #262522;
    transition: .3s;    
}

footer {
    width: 100%;
    height: 380px;
    background-image: linear-gradient(180deg, #3B3934 0%, rgba(59, 57, 52, 0) 131.24%);
    display: flex;
    justify-content: space-between;
}

.left-footer {
    display: grid;
    margin-left: 5rem;
}

.left-footer img {
    margin-top: 4rem;
    width: 250px;
    height: auto;
}

.left-footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    align-self: end;
    margin-bottom: 3rem;
}

.right-footer {
    display: grid;
    margin-right: 5rem;
    margin-top: 3rem;
    height: 300px;
}

.email-news {
    margin-top: 4rem;
    margin-left: 10rem;
    display: grid;
    gap: 10px;
    /* margin: 4rem; */
}


.subtitle1 {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 7px;
}

input[type=email-news]{
    width: 296px;
    height: 20px;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #5f5b52;
    border: none;
    color: white;
    outline: none;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* border-color: #948F7F; */
}

input[type=email-news]:focus {
    background-color: #9f9a87;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* background-color: black; */
    border: none;
    color: white;
}

input[type=email-news]::placeholder {
    color: #d8d8d8;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.submits {
    margin-top: 12px;
}

.submits button {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #F4EBD0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #262522;
    border-style: none;
    cursor: pointer;
}

.submits button:hover {
    background-color: #d3ccb4;
    transition: .2s;
}

.notes {
    padding-top: 4px;
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: white;
}

.social {
    margin-right: 5rem;
    display: grid;
    /* gap: 1px; */
    height: 50px;
}

.subtitle2 {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 50px;
}

.socialLogo {
    display: flex;
    /* width: auto; */
}

.social img {
    /* top: 0%; */
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

@media (max-width: 768px){
    nav {
        height: 150px;
        padding: 0;
    }
    
    .navlink #menu-hamburger {
        display: block;
        right: 10%;
        width: 35px;
    }

    .navlink li{
        display: none;
    }

    nav .logo {
        position: absolute;
        top: 5%;
        left: 70px;
        width: 150px;
        height: 150px;
    }

    .navlink.responsive {
        position: absolute;
        background: linear-gradient(180deg, #262522 0%, #3B3934 100%);
        backdrop-filter: blur(12px);
        width: 100%;
        height: 101vh;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    .navlink.responsive li {
        margin: 15px 0px;
        display: grid;
    }

    .navlink.responsive #menu-hamburger {
        position: absolute;
    }
    
    .navlink.responsive li a{
        font-size: 40px;
    }

    .form-box {
        display: grid;
    }

    .form-box2 {
        margin-top: 0;
    }

    .left-footer {
        margin-left: 2.7rem;
    }

    .left-footer p {
        font-size: 14px;
        padding-right: 8rem;
    }

    .right-footer {
        display: grid;
        margin-right: 2.7rem;
        margin-top: 3rem;
        height: 300px;
        justify-content: right;
    }

    .email {
        align-items:self-end;
    }
  
    .subtitle1 {
        margin-left: 11rem;
    }

    .subtitle2 {
        justify-self: end;
    }

    .submits {
        margin-left: 14.5rem;
    }

    .social {
        justify-content: end;
        margin-right: 0;
    }

    #fb {
        padding-right: 0;
    }
}