@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    /* background: #262522;  */
    background-color: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #575757; 
    border-radius: 20px;
    transition: .5s;
    /* height: 2px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #D6AD60; 
}

header {
    top: 0;
}

body {
    background-color:#262522;
    width: 100%;
}

.landing {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #1E1E1E -1.32%, rgba(0, 0, 0, 0) 50.23%, #262522 98.64%), url(./ImageAsset/ricardo-gomez-angel-y3QKr4TARLA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 70%;
}

nav {
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 50px;
    margin-right: 8rem;
    padding-right: 50px;
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    transition: background-color 0.3s ease-in-out;
}

nav img {
    width: 100px;
    height: 150px;
}

nav ul {
    margin-right: 7rem;
} 

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

nav ul li .active {
    color: #D6AD60;
}

nav ul li a:hover {
    color: #D6AD60;
    transition: .3s;
}

nav.scrolled {
    background-color: rgba(39, 38, 35, 0.8);
    backdrop-filter: blur(12px);
}

nav #menu-hamburger {
    display: none;
    width: 27px;
    top: 0;
    right: 14%;
    position: absolute;
}

.middle_text {
    padding-top: 15%;
    display: grid;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.head {
    color: white;
    font-weight: 600;
    font-size: 50px;
    /* padding-top: px; */
    /* text-shadow: rgba(0,0,0,0.5) 0px 0 20px; */
}

.subhead1 {
    color: rgba(255, 255, 255, 0.594);
    font-weight: 400;
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
    line-height: 1.2rem;
}

.divider {
    position: absolute;
    left: 47%;
    height: 20px;
    width: 40px;
    border-top: 2px solid #F4EBD0;
    margin-left: 20px;
    margin-top: 3rem;
}

.packages {
    width: 100%;
    /* margin-right: 4rem;  */
    margin-top: 4rem;
    display: grid;
    justify-content: space-between;
}

.deluxe {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem
}

.premium {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 4rem;
    margin-top: 2rem
}

.ultimate {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 4rem;
    margin-top: 2rem
}

.imageD {
    background-image: linear-gradient(180deg, rgba(38, 37, 34, 0) 7.53%, rgba(38, 37, 34, 0.273304) 17.41%, #1E1E1E 100.43%), url(./ImageAsset/tanya-pro-0Vefl6r61uQ-unsplash.jpg);
    background-size: cover;
    width: 100vh;
    height: 40vh;
}

.imageP {
    background-image: linear-gradient(180deg, rgba(38, 37, 34, 0) 7.53%, rgba(38, 37, 34, 0.273304) 17.41%, #1E1E1E 100.43%), url(./ImageAsset/teemu-paananen-bzdhc5b3Bxs-unsplash.jpg);
    background-size: cover;
    width: 100vh;
    height: 40vh;
}

.imageU {
    background-image: linear-gradient(180deg, rgba(38, 37, 34, 0) 7.53%, rgba(38, 37, 34, 0.273304) 17.41%, #1E1E1E 100.43%), url(./ImageAsset/spencer-davis-naFHFLV5cqU-unsplash.jpg);
    background-size: cover;
    width: 100vh;
    height: 40vh;
}

.textBox {
    display: flex;
    padding-top: 11rem;
    padding-left: 1rem;
    height: 35vh;
}

.textBox p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.textBox p span {
    font-weight: 500;
}

.content {
    display: grid;
    margin-left: 2.5rem;
    width: 100%;
}

.head1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.include ul li {
    margin-left: 1rem;
    padding: 10px 0 0 10px;
    color: white;
    list-style-type: square;
}

.include ul li p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.4rem;
}

.chose {
    justify-self: flex-start;
    height: 44px;
    width: 110px;
    border-radius: 20px;
    background-color: #F4EBD0;
    color: #262522;
    border-color: transparent;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.chose:hover {
    /* border-style: none; */
    background-color: #D6AD60;
    color: white;
    transition: .3s;    
}

.price {
    display: flex;
    align-content: flex-end;
    padding-top: 10px;
}

.price p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.price p span {
    font-weight: 600;
    font-size: 30px;
}

.divider1 {
    left: 47%;
    height: 20px;
    width: 1115px;
    border-top: 2px solid #f4ebd024;
    margin-left: 20px;
    margin-top: 2rem;
    justify-self: center;
}

.divider2 {
    left: 47%;
    height: 20px;
    width: 1115px;
    border-top: 2px solid #f4ebd024;
    margin-left: 20px;
    margin-top: 2rem;
    justify-self: center;
}

footer {
    margin-top: 3rem;
    width: 100%;
    height: 380px;
    background-image: linear-gradient(180deg, #3B3934 0%, rgba(59, 57, 52, 0) 131.24%);
    display: flex;
    justify-content: space-between;
}

.left-footer {
    display: grid;
    margin-left: 5rem;
}

.left-footer img {
    margin-top: 4rem;
    width: 250px;
    height: auto;
}

.left-footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    align-self: end;
    margin-bottom: 3rem;
}

.right-footer {
    display: grid;
    margin-right: 5rem;
    margin-top: 3rem;
    height: 300px;
}

.email-news {
    margin-top: 4rem;
    margin-left: 10rem;
    display: grid;
    gap: 10px;
    /* margin: 4rem; */
}


.subtitle1 {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 7px;
}

input[type=email-news]{
    width: 296px;
    height: 20px;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #5f5b52;
    border: none;
    color: white;
    outline: none;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* border-color: #948F7F; */
}

input[type=email-news]:focus {
    background-color: #9f9a87;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* background-color: black; */
    border: none;
    color: white;
}

input[type=email-news]::placeholder {
    color: #d8d8d8;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.submits {
    margin-top: 12px;
}

.submits button {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #F4EBD0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #262522;
    border-style: none;
    cursor: pointer;
}

.submits button:hover {
    background-color: #d3ccb4;
    transition: .2s;
}

.notes {
    padding-top: 4px;
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: white;
}

.social {
    margin-right: 5rem;
    display: grid;
    /* gap: 1px; */
    height: 50px;
}

.subtitle2 {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 50px;
}

.socialLogo {
    display: flex;
    /* width: auto; */
}

.social img {
    /* top: 0%; */
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

@media (max-width: 768px){
    nav {
        height: 150px;
        padding: 0;
    }
    
    .navlink #menu-hamburger {
        display: block;
        right: 10%;
        width: 35px;
    }

    .navlink li{
        display: none;
    }

    nav .logo {
        position: absolute;
        top: 5%;
        left: 70px;
        width: 150px;
        height: 150px;
    }

    .navlink.responsive {
        position: absolute;
        background: linear-gradient(180deg, #262522 0%, #3B3934 100%);
        backdrop-filter: blur(12px);
        width: 100%;
        height: 101vh;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .navlink.responsive li {
        margin: 15px 0px;
        display: grid;
    }

    .navlink.responsive #menu-hamburger {
        position: absolute;
    }
    
    .navlink.responsive li a{
        font-size: 40px;
    }

    .middle_text {
        padding-top: 20%;
    }

    .packages {
        align-items: center;
    }

    .deluxe {
        flex-direction: column;
    }

    .premium {
        flex-direction: column;
    }

    .ultimate {
        flex-direction: column;
    }

    .imageD {
        width: 59vh;
        height: 30vh;
    }

    .imageP {
        width: 59vh;
        height: 30vh;
    }

    .imageU {
        width: 59vh;
        height: 30vh; 
    }

    .content {
        margin-top: 1rem;
        margin-left: 0;
    }

    .price {
        padding-right: 6px;
    }

    .divider1 {
        width: 600px;
        margin-left: 0;
    }

    .divider2 {
        width: 600px;
        margin-left: 0;
    }

    .left-footer {
        margin-left: 2.7rem;
    }

    .left-footer p {
        font-size: 14px;
        padding-right: 8rem;
    }

    .right-footer {
        display: grid;
        margin-right: 2.7rem;
        margin-top: 3rem;
        height: 300px;
        justify-content: right;
    }

    .email {
        align-items:self-end;
    }
  
    .subtitle1 {
        margin-left: 11rem;
    }

    .subtitle2 {
        justify-self: end;
    }

    .submits {
        margin-left: 14.5rem;
    }

    .social {
        justify-content: end;
        margin-right: 0;
    }

    #fb {
        padding-right: 0;
    }
}

@media (max-width: 376px){
    .middle_text {
        padding-top: 20%;
    }

    .head {
        font-size: 40px;
    }

    .subhead1 {
        font-size: 10px;
    }

    .deluxe {
        margin-left: 0;
    }

    .premium {
         margin-left: 0;
    }

    .ultimate {
        margin-left: 0;
    }

    footer {
        display: flex;
        /* grid-template-columns:; */
        flex-direction: column-reverse;
        margin-top: 7rem;
        background-image: linear-gradient(180deg, #3B3934 0%, rgba(59, 57, 52, 0) 131.24%);
        justify-content: space-between;
    }

    .right-footer {
        display: grid;
        margin-right: 2rem;
        margin-top: 10rem;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

    .left-footer {
        margin-left: 0;
    }
}